<!--
*  Location edit view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to edit the resource.
*
* 
-->
<br>

<div class="card">
<div class="card-header">
  Edit Location
</div>
<div class="card-body">
  <form action="/location/save/<%= location.locationId %>" method="post">

    <div class="form-group">
      <label for="locationName">Location Name:</label>
      <input type="text" class="form-control" id="locationName" name="locationName" value="<%= location.locationName %>"  pattern="^([a-zA-Z]+\s)*[a-zA-Z]+$" title="LocationName is only letters and single spaces." autocomplete="off">
    </div>
   
    <br>

    <div class="form-group">
      <label for="locationLatitude">Location Latitude:</label>
      <input type="number" class="form-control" id="locationLatitude" name="locationLatitude" value="<%= location.locationLatitude %>" min=-90 max=90 step=.00001 autocomplete="off">
    </div>
    <br>

    <div class="form-group">
      <label for="locationLongitude">Location Longitude:</label>
      <input type="number" class="form-control" id="locationLongitude" name="locationLongitude" value="<%= location.locationLongitude %>" min=-180 max=180 step=.00001 autocomplete="off">
    </div>
    <br>

    <div class="form-group">
      <input type="submit" class="btn btn-info" title="Submits a POST /save/:locationId request" value="Save" />
    </div>
    
  </form>
</div>
</div>
