<header>
    <br>
    
  
    
  </header>
  <article>
    <div>
      <div id="container">
        <h1 style="color:yellow;">Hello!I am rohith</div>
          <p style="color:green;">This is my application</p>
      </div>
    </div>
  </article>