
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top mb-2" style="background-color: #1cb60e;">
    <div class="container-fluid">
        <!-- <nav class="nav nav-pills flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link active" href="#">Active</a> -->
        
        <a class="navbar-brand" href = "/">
            <i class='fas fa-gamepad fa-3x'></i>
            
            Northwest Hunt</a>
        <!-- <button class="navbar-toggler" type = "button"  data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> -->
            <!--    nav-link nw hvr-grow-shadow -->
            <a class="btn btn-secondary dropdown-toggle" rel="noopener" href='../location'><i class="fa fa-bars">
                Locations</i></a>
        </button>

    </nav>
    </div>
</nav>
