<body>
  <div class="container">
    <br>
    <br>
    <br>
    
    <h1 class="text-sm-center">Northwest Hunt</h1>

    <div class="d-flex justify-content-center mb-3" id="container">
      <div id="status1" class="p-2">
         <p> Click here! </p>
      </div>
      <div id="status2" class="p-2">
      <p> Click to Check Progress</p>
    </div>
    </div>

    <div class="d-flex justify-content-center mb-3">
      <button id="reset-button" type="button" id="reset" class="btn btn-success p-2">
        Reset
      </button>
    </div>
  </div>
  <script type="module" src="/scripts/main.js"></script>
</body>