<header>
  <br>
  

  
</header>
<article>
  <div>
    <div id="container">
      <div id="status1" ></div>
      <div id="status2"></div>
    </div>
  </div>
</article>

<p>




</p>


<ul class="nav nav-pills mb-3">
  <li class="nav-item" role="presentation">
    <a class="nav-link nw hvr-grow-shadow" rel="noopener" href='../location'>Locations</a>
  </li>
</ul>
