<br>
<br>

<h1><%= (typeof title === "undefined" ? "Big App" : title) %></h1>
<p><%= (typeof subTitle === "undefined" ? "" : "Welcome to " + subTitle) %></p>

<p>

<h2>Manage web resources</h2>
<p>Watch the URL update as you mouse over options</p>
<hr>


</p>
<hr>
<ul class="nav nav-pills mb-3">
  <li class="nav-item" role="presentation">
    <a class="nav-link nw hvr-grow-shadow" rel="noopener" href='/location'>Locations</a>
  </li>
</ul>
