header{
    position: absolute;
    left: 41%;
    text-align: center;
  }
  /* body{
    overflow: hidden;
  } */
  
  article {
    position: absolute;
    left: 50%;
    top: 30%;
    margin-left: -100px;
    margin-top: -100px;
  }

.row {
    height: 350px;
    width: 350px;
    /* background: #1cebad; */
    float: bottom;
    margin: auto;
    border: 5px solid #ccc;
  }
  
  /* #status2 {
    height: 200px;
    width: 200px;
    background: #7aeb7a;
    float: top;
    margin-left: 10px;
    border: 1px solid #ccc;
  } */

#foot {
    background-color: #00674C;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

  
  #foot{
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
     left:0; 
    width: 100%;
     height: 60px; 
    color:white;
    background-color: #00674C;
    text-align: center;
  
  }
  
  .navbar-brand{
    text-align: center;
  
  }

  .form-group_locId{
  display: none;
 }

 html, body {
    min-height: 100%;
    }
    body, div, form, input, select, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #eee;
    }
    body {
  
    background-size: cover;
    }
    h1 {
    text-transform: uppercase;
    font-weight: 400;
    color: black;

    }
    h1 {
    margin: 0 0 0 8px;
    }
    
    .left-part, form {
    padding: 25px;
    }
   
  
    form {
    background: rgba(0, 0, 0, 0.7); 
    }
    .title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    }
    .info {
    display: flex;
    flex-direction: column;
    }
    input, select {
    padding: 5px;
    margin-bottom: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #eee;
    }
    input::placeholder {
    color: #eee;
    }
    
   
    .btn-item, button {
    padding: 10px 5px;
    margin-top: 20px;
    border-radius: 5px; 
    border: none;
    background: #26a9e0; 
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    }
    .btn-item {
    display: inline-block;
    margin: 20px 5px 0;
    }
    input {
    width: 100%;
    }
    .left-part, form {
    flex: 1;
    height: auto;
    }

    .background{
    background-image: url(/public/images/homepage.jpg) ;
    background-position: "fixed";

    }
